/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp RBKT        &kp Q  &kp W  &kp E  &kp R      &kp T        &kp Y          &kp U          &kp I      &kp O    &kp P     &kp LBKT
&mt LGUI ENTER  &kp A  &kp S  &kp D  &kp F      &kp G        &kp H          &kp J          &kp K      &kp L    &kp SEMI  &kp SQT
&mt LCTRL NUBS  &kp Z  &kp X  &kp C  &kp V      &kp B        &kp N          &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
                              &mo 1  &kp LSHFT  &kp SPACE    &kp BACKSPACE  &kp RIGHT_ALT  &mo 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &none           &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none              &none                   &kp KP_NUMLOCK  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MULTIPLY  &kp KP_MINUS
&kp LSHFT  &kp C_PREVIOUS  &kp C_NEXT        &kp C_PLAY         &kp C_VOLUME_UP    &kp C_BRIGHTNESS_INC    &kp CAPSLOCK    &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_DIVIDE    &kp KP_PLUS
&kp LCTRL  &kp LGUI        &kp LS(TAB)       &kp TAB            &kp C_VOLUME_DOWN  &kp C_BRIGHTNESS_DEC    &kp KP_DOT      &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_0  &kp KP_EQUAL
                                             &none              &none              &none                   &kp ENTER       &kp BACKSPACE    &mo 3
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp GRAVE  &kp RA(Q)         &kp NUMBER_2  &kp HASH   &kp RA(R)  &kp RA(E)              &kp NUMBER_6   &kp PLUS        &kp MINUS       &kp LS(N9)       &kp KP_MULTIPLY  &kp DELETE
&kp TAB    &kp RA(A)         &kp RA(S)     &kp RA(D)  &kp RA(F)  &kp HOME               &kp PAGE_UP    &kp UP_ARROW    &kp LEFT_ARROW  &kp RIGHT_ARROW  &kp KP_SLASH     &kp KP_MINUS
&kp LCTRL  &kp RA(NUMBER_3)  &kp NUMBER_4  &kp N5     &kp RA(V)  &kp END                &kp PAGE_DOWN  &kp DOWN_ARROW  &kp C_AC_COPY   &kp C_AC_PASTE   &kp KP_MULTIPLY  &kp PLUS
                                           &mo 3      &kp LSHFT  &mt RIGHT_ALT SPACE    &none          &kp RIGHT_ALT   &none
            >;
        };

        layer_3 {
            bindings = <
&kp F1          &kp F2         &kp F3         &kp F4         &kp F5         &kp F6           &kp F7  &kp F8                  &kp F9                      &kp F10    &kp F11  &kp F12
&trans          &bt BT_SEL 4   &bt BT_SEL 3   &bt BT_SEL 2   &bt BT_SEL 1   &bt BT_SEL 0     &trans  &kp LC(LG(UP_ARROW))    &kp LS(LC(LG(DOWN_ARROW)))  &kp LG(I)  &trans   &trans
&bt BT_CLR_ALL  &bt BT_DISC 4  &bt BT_DISC 3  &bt BT_DISC 2  &bt BT_DISC 1  &bt BT_DISC 0    &trans  &kp LC(LG(DOWN_ARROW))  &kp LS(LC(LG(DOWN_ARROW)))  &trans     &trans   &kp ESCAPE
                                              &trans         &trans         &trans           &trans  &trans                  &trans
            >;
        };
    };
};
